{% extends "base.html" %}
{% block meta %}
    <title>Education - {{ name }}</title>
{% endblock meta %}
{% block content %}
    <main>
        <section class="education-section" id="education">
            <div class="container">
                <p class="section-kicker">Edukasi yang sudah saya tempuh</p>
                <h1>Education</h1>

                <div class="education-grid">
                    {% for education in education_list %}
                        <article class="education-card">
                            {% if education.image %}
                                <div class="education-logo-wrapper">
                                    <img src="{{ education.logo }}" alt="{{ education.title }}">
                                </div>
                            {% endif %}

                            <div class="education-content">
                                <span class="education-category">
                                    {{ education.get_category_display }}
                                </span>
                                <h2>{{ education.title }}</h2>
                                <p class="education-description">
                                    {{ education.description }}
                                </p>

                                {% if education.is_ongoing %}
                                    <p class="education-status">(Sedang Berlangsung) {{education.started_at|date:"F Y"}} - Present</p>
                                {% else %}
                                    <p class="education-status">(Selesai) {{education.started_at|date:"F Y"}} - {{education.ended_at|date:"F Y"}}</p>
                                {% endif %}
                            </div>
                        </article>
                    {% empty %}
                        <p class="empty-state">
                            Mahasiswa satu ini belum punya histori edukasi.
                        </p>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock content %}